.loginsignup{
    width: 100%;
    height: 80vh;
    padding-top: 50px;
    background: white;
}

.loginsignup-container{
    width: 390px;
    border-radius: 20px;
    height: 420px;
    padding: 40px 60px;
    margin: auto;
    /* background: #fce3fe; */
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 90%);
    border: 1px solid #fde1ff;
}
.loginsignup-container h1{
    margin: 5px 0px;
    align-items: center;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.loginsignup-fields input{
    width: 94%;
    height: 45px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 30px;
    background: #ff4141;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500; 
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600; 
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 0px;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500; 
}