.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    /* margin-bottom: 100px; */
}
.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0px;
}
.new-collections hr{
    width: 200px;
    height: 0.5px;
    border-radius: 10px;
    background: #252525;
}

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    width: 96%;
    /* margin-bottom: 100px; */
}

/* .collection-card li{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-left: 10px;
     margin-left: 10px; 
    padding-right: 10px;
} */

/* .collection-details img{
    height: 320px;
    width: 250px;
}

.collections{
    margin-right: 40px;
   
} */